.productDisplay {
  width: 85%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.productDisplay-left {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.productDisplay-left .productDisplay-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.productDisplay-left .productDisplay-img-list img {
  width: 90px;
}

.productDisplay-left .productDisplay-img img {
  height: 470px;
  margin-bottom: -5px;
}

.productDisplay-right h1 {
  font-size: 28px;
  font-weight: 600;
}

.productDisplay-right-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.productDisplay-right-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgb(196, 196, 196);
}

.productDisplay-right-price-newPrice {
  color: #ff4141;
  font-weight: 600;
}

.productDisplay-right-price-oldPrice {
  font-weight: 400;
  text-decoration: line-through;
}

.productDisplay-right-description {
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0px;
}

.productDisplay-right-size h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0px;
}

.productDisplay-right-sizes {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.productDisplay-right-sizes .size {
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  color: black;
}

.productDisplay-right button {
  margin-top: 15px;
  background: #ff4141;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

.productDisplay-right button:active {
  background: #f55858;
}

.productDisplay-right-category {
  margin: 20px 0px;
  font-size: 16px;
}

.productDisplay-right-category p {
  margin-bottom: 5px;
  font-weight: 600;
}

.productDisplay-right-category span {
  margin-bottom: 10px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .productDisplay {
    margin: 30px auto;
    gap: 20px;
  }

  .productDisplay-left {
    gap: 10px;
  }

  .productDisplay-left .productDisplay-img-list {
    gap: 10px;
  }

  .productDisplay-left .productDisplay-img-list img {
    width: 80px;
  }

  .productDisplay-left .productDisplay-img img {
    height: 410px;
    margin-bottom: -5px;
  }

  .productDisplay-right h1 {
    font-size: 22px;
  }

  .productDisplay-right-star {
    gap: 3px;
    margin-bottom: 5px;
  }

  .productDisplay-right-star p {
    font-size: 13px;
  }

  .productDisplay-right-price {
    gap: 5px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .productDisplay-right-description {
    font-size: 13px;
    margin: 15px 0px;
  }

  .productDisplay-right-size h1 {
    font-size: 15px;
    margin: 20px 0px;
  }

  .productDisplay-right-sizes {
    gap: 17px;
    margin-bottom: 11px;
  }

  .productDisplay-right-sizes .size {
    width: 40px;
    height: 30px;
    font-size: 14px;
  }

  .productDisplay-right button {
    margin-top: 13px;
    font-size: 14px;
    height: 40px;
    width: 130px;
  }

  .productDisplay-right-category {
    margin: 20px 0px;
    font-size: 16px;
  }
  .productDisplay-right-category p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .productDisplay-right-category span {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .productDisplay {
    margin: 30px auto;
    gap: 15px;
  }

  .productDisplay-left {
    gap: 8px;
  }

  .productDisplay-left .productDisplay-img-list {
    gap: 8px;
  }

  .productDisplay-left .productDisplay-img-list img {
    width: 70px;
  }

  .productDisplay-left .productDisplay-img img {
    height: 355px;
    margin-bottom: -5px;
  }

  .productDisplay-right h1 {
    font-size: 19px;
  }

  .productDisplay-right-star {
    gap: 3px;
    margin-bottom: 5px;
  }

  .productDisplay-right-star p {
    font-size: 11px;
  }

  .productDisplay-right-price {
    gap: 5px;
    font-size: 13px;
    margin-bottom: 13px;
  }

  .productDisplay-right-description {
    font-size: 12px;
    margin: 13px 0px;
  }

  .productDisplay-right-size h1 {
    font-size: 13px;
    margin: 15px 0px;
  }

  .productDisplay-right-sizes {
    gap: 14px;
    margin-bottom: 11px;
  }

  .productDisplay-right-sizes .size {
    width: 30px;
    height: 25px;
    font-size: 12px;
  }

  .productDisplay-right button {
    margin-top: 13px;
    font-size: 12px;
    height: 40px;
    width: 110px;
  }

  .productDisplay-right-category {
    margin: 15px 0px;
    font-size: 13px;
  }
  .productDisplay-right-category p {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .productDisplay-right-category span {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .productDisplay {
    margin: 30px auto;
    gap: 10px;
  }

  .productDisplay-left {
    gap: 8px;
    flex-direction: column-reverse;
  }

  .productDisplay-left .productDisplay-img-list {
    flex-direction: row;
    gap: 8px;
  }

  .productDisplay-left .productDisplay-img-list img {
    width: 60px;
  }

  .productDisplay-left .productDisplay-img img {
    height: 310px;
    margin-bottom: -5px;
  }

  .productDisplay-right h1 {
    font-size: 15px;
  }

  .productDisplay-right-star {
    gap: 3px;
    margin: 5px 0px;
  }

  .productDisplay-right-star p {
    font-size: 11px;
  }

  .productDisplay-right-star img{
    width: 13px;
  }
  .productDisplay-right-price {
    gap: 5px;
    font-size: 13px;
    margin-bottom: 13px;
  }

  .productDisplay-right-description {
    font-size: 11px;
    margin: 13px 0px;
  }

  .productDisplay-right-size h1 {
    font-size: 12px;
    margin: 13px 0px;
  }

  .productDisplay-right-sizes {
    gap: 12px;
    margin-bottom: 5px;
  }

  .productDisplay-right-sizes .size {
    width: 30px;
    height: 25px;
    font-size: 10px;
  }

  .productDisplay-right button {
    margin-top: 10px;
    font-size: 10px;
    height: 35px;
    width: 90px;
  }

  .productDisplay-right-category {
    margin: 13px 0px;
    font-size: 13px;
  }
  .productDisplay-right-category p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .productDisplay-right-category span {
    margin-bottom: 10px;
  }
}


@media (max-width: 500px) {
    .productDisplay {
      margin: 30px auto;
      gap: 30px;
      flex-direction: column;
    }
  
    .productDisplay-left {
      gap: 10px;
      margin: auto;
      flex-direction:row;
    }
  
    .productDisplay-left .productDisplay-img-list {
      flex-direction:column;
      gap: 8px;
    }
  
    .productDisplay-left .productDisplay-img-list img {
      width: 75px;
    }
  
    .productDisplay-left .productDisplay-img img {
      height: 385px;
      margin-bottom: -5px;
    }
  
    .productDisplay-right h1 {
        font-size: 19px;
      }
    
      .productDisplay-right-star {
        gap: 3px;
        margin-bottom: 5px;
      }
    
      .productDisplay-right-star p {
        font-size: 11px;
      }
    
      .productDisplay-right-price {
        gap: 5px;
        font-size: 13px;
        margin-bottom: 13px;
      }
    
      .productDisplay-right-description {
        font-size: 12px;
        margin: 13px 0px;
      }
    
      .productDisplay-right-size h1 {
        font-size: 13px;
        margin: 15px 0px;
      }
    
      .productDisplay-right-sizes {
        gap: 14px;
        margin-bottom: 11px;
      }
    
      .productDisplay-right-sizes .size {
        width: 30px;
        height: 25px;
        font-size: 12px;
      }
    
      .productDisplay-right button {
        margin-top: 13px;
        font-size: 12px;
        height: 40px;
        width: 110px;
      }
    
      .productDisplay-right-category {
        margin: 15px 0px;
        font-size: 13px;
      }
      .productDisplay-right-category p {
        font-size: 13px;
        margin-bottom: 5px;
      }
      .productDisplay-right-category span {
        margin-bottom: 10px;
      }
  }
  
